@use "../base/font-face";

$font-title: 'Baroque';
$font-primary: 'Spectral';
$font-h3: 'Cinzel';
$font-bold: 'SpectralBold';
$font-footer: 'SpectralLight';

$color-gold: #C9A74E;
$color-red: #7E1E1E;
$color-text-clair: #E5D8C5;
$color-text-fonces: #38302E;
