{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
	<h2> S'incrire</h2>

	{{form_start(userForm)}}
	    {{form_widget(userForm)}}
	    <button>Valider</button>
	{{form_start(userForm)}}
{% endblock %}