@use "../abstracts/variables" as v;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: v.$font-primary;
    background-image: url(../../img/original-black-leather-texture-background.jpg);
    background-position: center, center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

main {
    padding: 8rem;
}

h1 {
    font-family: v.$font-title;
    color: v.$color-gold;
    font-size: 2.7rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-family: v.$font-h3;
    color: v.$color-text-clair;
    margin-top: -1rem;
    text-align: center;
    margin-bottom: 4rem;
}

h3 {
    color: v.$color-text-clair;
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
}
.logo-link {
  display: block;
  width: 100px;
}

.flash-success {
    background-color: rgba(202, 96, 46, 0.2);
    border-left: 5px solid #C9A74E;
    color: v.$color-text-clair;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    border-radius: 8px;
    font-weight: bold;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-family: v.$font-h3;
    text-align: center;
}

.flash-error {
    background-color: rgba(202, 96, 46, 0.2);
    border-left: 5px solid #C9A74E;
    color: v.$color-text-clair;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    border-radius: 8px;
    font-weight: bold;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-family: v.$font-h3;
    text-align: center;
}

