@font-face {
    font-family: 'Baroque' ;
    src: url(../../fonts/BaroqueScript.ttf);
}

@font-face {
    font-family: 'Spectral';
    src: url(../../fonts/Spectral/Spectral-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'SpectralBold';
    src: url(../../fonts/Spectral/Spectral-Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'SpectralLight';
    src: url(../../fonts/Spectral/Spectral-ExtraLightItalic.ttf);
    font-weight: 100;

}

@font-face {
    font-family: 'Cinzel';
    src: url(../../fonts/Cinzel/CinzelDecorative-Regular.ttf);
    font-weight: 400;
}