@use '../abstracts/variables' as v;

form {
    font-family: v.$font-primary;
    max-width: 800px;
    margin: 0 auto;
    background: linear-gradient(to top, v.$color-gold 5%, v.$color-text-clair 95%);
    padding: 3rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);

    .form-group {
        margin-bottom: 2rem;
    }

    .form-label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: v.$color-text-fonces;
    }

    .form-input,textarea,select {
        width: 100%;
        padding: 0.75rem;
        border-radius: 8px;
        border: 1px solid v.$color-text-fonces;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
        font-family: v.$font-primary;
        color: v.$color-text-fonces;

        &:focus {
        outline: none;
        border-color: v.$color-red;
        box-shadow: 0 0 5px v.$color-red;
        }
    }
}

.form-delete {
    all: unset;
}

input[type="file"] {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px dashed v.$color-text-fonces;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    color: v.$color-text-fonces;
    font-family: v.$font-primary;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:hover {
        border-color: v.$color-gold;
    }
}

// CHECKBOX 

.checkbox-group input[type="checkbox"] {
    display: none;
}

.checkbox-group label {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    background-color: v.$color-text-clair;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkbox-group input[type="checkbox"]:checked + label {
    background-color: v.$color-gold;
    color: white;
}


//MDP OUBLIE
.login-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .btn {
        margin-right: 1rem;
    }

    .mdp {
        font-size: 0.9rem;
        color: v.$color-text-fonces;
        text-decoration: underline;
        transition: color 0.3s;

        &:hover {
            color: v.$color-red;
        }
    }
}


// CHECKBOX 
.check {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: v.$color-text-fonces;
    stroke-width: 1.5;
    transition: all 0.2s ease;
}

.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.check:hover:before {
    opacity: 1;
}

.check:hover svg {
    stroke: var(--accent-color, v.$color-red);
}

#cbx2:checked + .check svg {
    stroke: var(--accent-color, v.$color-red);
}

#cbx2:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

#cbx2:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.remember-text {
    cursor: pointer;
    font-family: v.$color-text-fonces;
}


.note-form {
    all: unset;
}

