@use '../abstracts/variables' as v;


.chaise__wrapper {
    background: linear-gradient(to top, v.$color-gold 5%, v.$color-text-clair 80%);
    border-radius: 12px;
    padding: 4rem;
    margin: 4rem auto;
    max-width: 1000px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    color: v.$color-text-fonces;
    font-family: v.$font-primary;

    h3 {
        font-family: v.$font-h3;
        color: v.$color-text-fonces;
        font-size: 2rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    p {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        color: v.$color-text-fonces;
    }

    img {
        max-width: 300px;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        margin: 2rem auto;
        display: block;
    }

    .card-actions {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        justify-content: center;
        align-items: center;
    }

    .commentaire {
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(4px);
        border-left: 4px solid v.$color-gold;
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 8px;
        text-align: left;

        p {
        font-style: italic;
        }

        small {
        display: block;
        text-align: right;
        color: v.$color-text-fonces;
        font-size: 0.9rem;
        }
    }
    
    form {
        textarea {
        width: 100%;
        min-height: 100px;
        padding: 1rem;
        border-radius: 8px;
        border: 1px solid v.$color-text-fonces;
        resize: vertical;
        background-color: rgba(110, 89, 89, 0.274);
        }

        .btn {
        margin-top: 1rem;
        }
    }

    .connexion{
        color: v.$color-red;

        &:hover {
        text-decoration: underline;
        }
    }
}

//ETOILES
.chaise__wrapper #note-form {
    all: unset;
    display: block;
}


.rating-stars {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
}

.star-btn {
    background: none;
    border: none;
    font-size: 1.8rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
    padding: 0;
}

.star-btn.active {
    color: #f5c518;
}

.star-btn:hover,
.star-btn:focus {
    color: #f5c518;
    outline: none;
}

.stars {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
}

.stars .star {
    font-size: 1.8rem;
    color: #ccc;
}

.stars .star.active {
    color: #f5c518;
}

.stars .star.half {
    color: #f5e291;
}

.stars span {
    font-size: 1rem;
    color: #666;
    margin-left: 0.4rem;
}

.star-btn.hover {
    color: #f5c518;
}