@use '../abstracts/variables' as v;

header {
   h2 {
    font-size: 1rem;
    } 
}

.description__wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;

    p {
        width: 50%;
        color: v.$color-text-clair;
        font-style: italic;

        .title-span {
            color: v.$color-gold;
            font-family: v.$font-title;
        }
    }
}

