@use '../abstracts/variables' as v;

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid v.$color-text-fonces;
    padding: 1rem 2rem;
    z-index: 10;

    .left-side {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 6rem;

        .logo-link {
            display: block;
            width: 60px;
            transition: transform 0.9s ease;

            img {
                width: 100%;
                height: auto;
                transition: transform 0.9s ease;
            }
            &:hover img {
                transform: rotate(360deg) scale(1.1);
                filter: drop-shadow(0 0 8px v.$color-gold);
            }
        }

        .hello {
            color: v.$color-gold;
            font-size: 1.1rem;
        }
    }
    .main-nav {
        display: flex;
        align-items: center;
        margin-right: 6rem;
        gap: 2rem;

        a {
            color: v.$color-gold;
            font-size: 1.2rem;  
            position: relative;
            display: inline-block;
            font-size: 1.2rem;
            color: v.$color-gold;
            text-decoration: none;
            transition: color 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 100%;
                height: 2px;
                background: linear-gradient(to right, v.$color-gold, v.$color-red);
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.4s ease;
            }

            &:hover {
                color: v.$color-text-clair;

                &::after {
                transform: scaleX(1);
                transform-origin: left;
                }
            }
        }
    }
}

//MENU BURGER

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 0.4rem;
    span {
        width: 25px;
        height: 3px;
        background-color: white;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    &.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    &.open span:nth-child(2) {
        opacity: 0;
    }
    &.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}